In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('imdb-top-1000.csv')

In [3]:
movies.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,300,2006,117,Action,7.6,Zack Snyder,Gerard Butler,732876,210614939,52.0
1,1917,2019,119,Drama,8.3,Sam Mendes,Dean-Charles Chapman,425844,159227644,78.0
2,(500) Days of Summer,2009,95,Comedy,7.7,Marc Webb,Zooey Deschanel,472242,32391374,76.0
3,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000,96.0
4,12 Years a Slave,2013,134,Biography,8.1,Steve McQueen,Chiwetel Ejiofor,640533,56671993,96.0

### Groupby
- Applied in catagorical columns

In [4]:
genres = movies.groupby('Genre')

In [5]:
#Applying builtin aggregation function on groupby object
genres.sum()

C:\Users\rahul\AppData\Local\Temp\ipykernel_15752\248176453.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  genres.sum()

           Runtime  IMDB_Rating  No_of_Votes        Gross  Metascore
Genre
Action       22196       1367.3     72282412  32632261314    10499.0
Adventure     9656        571.5     22576163   9496922464     5020.0
Animation     8166        650.3     21978630  14631473048     6082.0
Biography    11970        698.6     24006844   8276357606     6023.0
Comedy       17380       1224.7     27620327  15663868165     9840.0
Crime        13524        857.8     33533615   8452631908     6706.0
Drama        36049       2299.7     61367304  35409974041    19208.0
Family         215         15.6       551221    439110554      158.0
Fantasy        170         16.0       146222    782726696        0.0
Film-Noir      312         23.9       367215    125910543      287.0
Horror        1123         87.0      3742556   1034649238      880.0
Mystery       1429         95.7      4203004   1256417015      633.0
Thriller       108          7.8        27733     17550741       81.0
Western        593         33.4      1289665     58221508      313.0

In [6]:
#Find the top3 genres by total earnings
movies.groupby('Genre').sum()['Gross'].sort_values(ascending = False).head(3)

C:\Users\rahul\AppData\Local\Temp\ipykernel_15752\3381975507.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  movies.groupby('Genre').sum()['Gross'].sort_values(ascending = False).head(3)

Genre
Drama     35409974041
Action    32632261314
Comedy    15663868165
Name: Gross, dtype: int64

In [7]:
movies.groupby('Genre')['Gross'].sum().sort_values(ascending = False).head(3)

Genre
Drama     35409974041
Action    32632261314
Comedy    15663868165
Name: Gross, dtype: int64

In [8]:
#Find the genre with highest avg IMDB ratings
movies.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending = False).head(1)

Genre
Western    8.35
Name: IMDB_Rating, dtype: float64

In [9]:
#Find director with most popularity
movies.groupby('Director')['No_of_Votes'].sum().sort_values(ascending = False).head(1)

Director
Christopher Nolan    11578345
Name: No_of_Votes, dtype: int64

In [10]:
#find the highest rated movies of each genre
movies.groupby('Genre')['IMDB_Rating'].max()

Genre
Action       9.0
Adventure    8.6
Animation    8.6
Biography    8.9
Comedy       8.6
Crime        9.2
Drama        9.3
Family       7.8
Fantasy      8.1
Film-Noir    8.1
Horror       8.5
Mystery      8.4
Thriller     7.8
Western      8.8
Name: IMDB_Rating, dtype: float64

In [11]:
#find number of movies done be each actor
# movies['Star1'].value_counts()
movies.groupby('Star1')['Series_Title'].count().sort_values(ascending = False)

Star1
Tom Hanks             12
Robert De Niro        11
Clint Eastwood        10
Al Pacino             10
Leonardo DiCaprio      9
                      ..
Glen Hansard           1
Giuseppe Battiston     1
Giulietta Masina       1
Gerardo Taracena       1
Ömer Faruk Sorak       1
Name: Series_Title, Length: 660, dtype: int64

In [12]:
# find total number of groups formed by using groupby
len(movies.groupby('Genre'))

14

In [13]:
movies['Genre'].nunique()

14

In [14]:
movies.groupby("Genre").size()
# movies['Genre'].value_counts

Genre
Action       172
Adventure     72
Animation     82
Biography     88
Comedy       155
Crime        107
Drama        289
Family         2
Fantasy        2
Film-Noir      3
Horror        11
Mystery       12
Thriller       1
Western        4
dtype: int64

In [15]:
genre = movies.groupby('Genre')

In [16]:
genre.first()
# genre.last()
# genre = s.nth(6)
# for fetching the 7th movies we have taken 6 because index starts from 0'''

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,300,2006,117,7.6,Zack Snyder,Gerard Butler,732876,210614939,52.0
Adventure,2001: A Space Odyssey,1968,149,8.3,Stanley Kubrick,Keir Dullea,603517,56954992,84.0
Animation,Ôkami kodomo no Ame to Yuki,2012,117,8.1,Mamoru Hosoda,Aoi Miyazaki,38803,224400323,71.0
Biography,12 Years a Slave,2013,134,8.1,Steve McQueen,Chiwetel Ejiofor,640533,56671993,96.0
Comedy,(500) Days of Summer,2009,95,7.7,Marc Webb,Zooey Deschanel,472242,32391374,76.0
Crime,12 Angry Men,1957,96,9.0,Sidney Lumet,Henry Fonda,689845,4360000,96.0
Drama,1917,2019,119,8.3,Sam Mendes,Dean-Charles Chapman,425844,159227644,78.0
Family,E.T. the Extra-Terrestrial,1982,115,7.8,Steven Spielberg,Henry Thomas,372490,435110554,91.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,8.1,Robert Wiene,Werner Krauss,57428,337574718,NaN
Film-Noir,Shadow of a Doubt,1943,108,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292,94.0
Horror,Alien,1979,117,8.4,Ridley Scott,Sigourney Weaver,787806,78900000,89.0
Mystery,Dark City,1998,100,7.6,Alex Proyas,Rufus Sewell,187927,14378331,66.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741,81.0
Western,"Il buono, il brutto, il cattivo",1966,161,8.8,Sergio Leone,Clint Eastwood,688390,6100000,90.0

In [17]:
# get_group -> filtering
genres.get_group('Horror')
# movies[movies['Genre']=='Horror']

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
41,Alien,1979,117,Horror,8.4,Ridley Scott,Sigourney Weaver,787806,78900000,89.0
299,Get Out,2017,104,Horror,7.7,Jordan Peele,Daniel Kaluuya,492851,176040665,85.0
332,Halloween,1978,91,Horror,7.7,John Carpenter,Donald Pleasence,233106,47000000,87.0
561,Night of the Living Dead,1968,96,Horror,7.9,George A. Romero,Duane Jones,116557,89029,89.0
623,Psycho,1960,109,Horror,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000,97.0
661,Saw,2004,103,Horror,7.6,James Wan,Cary Elwes,379020,56000369,46.0
779,The Exorcist,1973,122,Horror,8.0,William Friedkin,Ellen Burstyn,362393,232906145,81.0
812,The Innocents,1961,100,Horror,7.8,Jack Clayton,Deborah Kerr,27007,2616000,88.0
815,The Invisible Man,1933,71,Horror,7.7,James Whale,Claude Rains,30683,298791505,87.0
861,The Others,2001,101,Horror,7.6,Alejandro Amenábar,Nicole Kidman,337651,96522687,74.0
896,The Thing,1982,109,Horror,8.1,John Carpenter,Kurt Russell,371271,13782838,57.0

In [18]:
genres.groups

{'Action': [0, 10, 25, 34, 38, 42, 59, 62, 65, 74, 75, 76, 80, 81, 83, 84, 89, 90, 94, 96, 116, 117, 127, 148, 149, 155, 159, 167, 189, 197, 198, 204, 205, 218, 219, 224, 225, 226, 245, 248, 250, 256, 258, 261, 262, 265, 268, 280, 283, 296, 300, 306, 310, 314, 322, 323, 331, 342, 349, 351, 357, 363, 377, 379, 388, 406, 408, 420, 421, 422, 423, 427, 431, 437, 459, 463, 481, 482, 491, 492, 494, 499, 503, 504, 509, 528, 532, 543, 558, 576, 589, 593, 604, 612, 618, 626, 628, 630, 638, 644, ...], 'Adventure': [5, 47, 66, 86, 87, 92, 105, 107, 119, 151, 156, 165, 188, 193, 201, 208, 217, 273, 281, 293, 339, 340, 341, 343, 344, 362, 380, 384, 385, 386, 396, 414, 419, 426, 449, 461, 466, 473, 485, 540, 557, 566, 571, 594, 615, 625, 708, 713, 716, 724, 745, 762, 780, 794, 795, 797, 800, 805, 806, 849, 851, 855, 863, 868, 875, 878, 891, 898, 907, 918, 921, 996], 'Animation': [26, 39, 40, 95, 98, 108, 175, 179, 180, 212, 270, 271, 278, 294, 346, 358, 360, 361, 378, 383, 389, 393, 409, 411, 416, 417, 418, 424, 429, 432, 435, 438, 452, 472, 479, 498, 507, 516, 527, 534, 538, 539, 546, 578, 579, 592, 598, 606, 633, 654, 669, 682, 687, 703, 705, 707, 710, 732, 738, 741, 811, 817, 818, 831, 833, 834, 858, 879, 922, 924, 926, 927, 928, 929, 948, 951, 962, 964, 967, 975, 983, 997], 'Biography': [4, 14, 21, 46, 49, 52, 61, 67, 77, 78, 106, 121, 124, 132, 142, 158, 162, 170, 177, 186, 192, 211, 231, 234, 249, 279, 290, 295, 308, 317, 320, 329, 330, 333, 352, 359, 370, 375, 381, 407, 450, 456, 475, 488, 501, 508, 514, 523, 537, 552, 573, 597, 601, 609, 619, 627, 634, 640, 665, 675, 683, 712, 725, 751, 754, 778, 783, 807, 810, 813, 814, 816, 821, 823, 826, 827, 832, 853, 866, 870, 885, 886, 889, 893, 908, 909, 963, 993], 'Comedy': [2, 9, 12, 16, 19, 22, 28, 31, 32, 33, 37, 48, 50, 54, 63, 69, 70, 88, 91, 93, 102, 103, 112, 118, 134, 139, 143, 150, 163, 164, 168, 172, 173, 183, 184, 200, 203, 207, 221, 222, 228, 229, 233, 237, 238, 242, 244, 257, 260, 274, 282, 305, 315, 321, 324, 336, 337, 338, 345, 348, 355, 356, 373, 390, 394, 397, 400, 415, 425, 430, 441, 446, 453, 457, 462, 467, 468, 484, 489, 496, 497, 513, 515, 517, 519, 524, 530, 535, 542, 545, 548, 550, 556, 562, 565, 574, 577, 585, 596, 605, ...], 'Crime': [3, 6, 15, 17, 27, 58, 60, 110, 111, 120, 125, 129, 131, 152, 154, 169, 176, 178, 181, 187, 202, 206, 210, 216, 232, 236, 239, 240, 241, 243, 263, 272, 292, 307, 311, 335, 347, 374, 382, 401, 439, 445, 448, 458, 474, 477, 478, 483, 487, 493, 500, 502, 505, 510, 525, 533, 555, 563, 564, 569, 572, 581, 583, 586, 591, 621, 622, 624, 632, 643, 645, 652, 658, 662, 666, 691, 695, 709, 726, 737, 739, 740, 743, 752, 773, 776, 790, 791, 792, 793, 801, 803, 820, 857, 883, 901, 902, 912, 919, 925, ...], 'Drama': [1, 7, 8, 11, 13, 18, 20, 23, 24, 29, 30, 35, 36, 43, 44, 45, 51, 53, 55, 56, 57, 64, 68, 71, 72, 73, 79, 82, 85, 97, 99, 100, 101, 104, 109, 113, 114, 115, 122, 123, 126, 128, 130, 133, 135, 136, 137, 138, 140, 141, 144, 145, 146, 147, 153, 157, 160, 161, 166, 171, 174, 182, 185, 190, 195, 196, 199, 209, 213, 214, 215, 220, 223, 227, 230, 235, 247, 251, 252, 253, 255, 259, 264, 266, 267, 269, 275, 276, 277, 284, 285, 286, 287, 288, 289, 291, 297, 298, 301, 302, ...], 'Family': [246, 977], 'Fantasy': [194, 567], 'Film-Noir': [677, 846, 897], 'Horror': [41, 299, 332, 561, 623, 661, 779, 812, 815, 861, 896], 'Mystery': [191, 254, 412, 495, 520, 635, 688, 696, 711, 824, 940, 953], 'Thriller': [961], 'Western': [368, 584, 603, 862]}

In [19]:
genres.describe()

          Runtime                                                              \
            count        mean        std    min     25%    50%     75%    max
Genre
Action      172.0  129.046512  28.500706   45.0  110.75  127.5  143.25  321.0
Adventure    72.0  134.111111  33.317320   88.0  109.00  127.0  149.00  228.0
Animation    82.0   99.585366  14.530471   71.0   90.00   99.5  106.75  137.0
Biography    88.0  136.022727  25.514466   93.0  120.00  129.0  146.25  209.0
Comedy      155.0  112.129032  22.946213   68.0   96.00  106.0  124.50  188.0
Crime       107.0  126.392523  27.689231   80.0  106.50  122.0  141.50  229.0
Drama       289.0  124.737024  27.740490   64.0  105.00  121.0  137.00  242.0
Family        2.0  107.500000  10.606602  100.0  103.75  107.5  111.25  115.0
Fantasy       2.0   85.000000  12.727922   76.0   80.50   85.0   89.50   94.0
Film-Noir     3.0  104.000000   4.000000  100.0  102.00  104.0  106.00  108.0
Horror       11.0  102.090909  13.604812   71.0   98.00  103.0  109.00  122.0
Mystery      12.0  119.083333  14.475423   96.0  110.75  117.5  130.25  138.0
Thriller      1.0  108.000000        NaN  108.0  108.00  108.0  108.00  108.0
Western       4.0  148.250000  17.153717  132.0  134.25  148.0  162.00  165.0

          IMDB_Rating            ...         Gross              Metascore  \
                count      mean  ...           75%          max     count
Genre                            ...
Action          172.0  7.949419  ...  2.674437e+08  936662225.0     143.0
Adventure        72.0  7.937500  ...  1.998070e+08  874211619.0      64.0
Animation        82.0  7.930488  ...  2.520612e+08  873839108.0      75.0
Biography        88.0  7.938636  ...  9.829924e+07  753585104.0      79.0
Comedy          155.0  7.901290  ...  8.107809e+07  886752933.0     125.0
Crime           107.0  8.016822  ...  7.102163e+07  790482117.0      87.0
Drama           289.0  7.957439  ...  1.164461e+08  924558264.0     241.0
Family            2.0  7.800000  ...  3.273329e+08  435110554.0       2.0
Fantasy           2.0  8.000000  ...  4.182577e+08  445151978.0       0.0
Film-Noir         3.0  7.966667  ...  6.273068e+07  123353292.0       3.0
Horror           11.0  7.909091  ...  1.362817e+08  298791505.0      11.0
Mystery          12.0  7.975000  ...  1.310949e+08  474203697.0       8.0
Thriller          1.0  7.800000  ...  1.755074e+07   17550741.0       1.0
Western           4.0  8.350000  ...  1.920000e+07   31800000.0       4.0


                mean        std   min    25%   50%    75%    max
Genre
Action     73.419580  12.421252  33.0  65.00  74.0  82.00   98.0
Adventure  78.437500  12.345393  41.0  69.75  80.5  87.25  100.0
Animation  81.093333   8.813646  61.0  75.00  82.0  87.50   96.0
Biography  76.240506  11.028187  48.0  70.50  76.0  84.50   97.0
Comedy     78.720000  11.829160  45.0  72.00  79.0  88.00   99.0
Crime      77.080460  13.099102  47.0  69.50  77.0  87.00  100.0
Drama      79.701245  12.744687  28.0  72.00  82.0  89.00  100.0
Family     79.000000  16.970563  67.0  73.00  79.0  85.00   91.0
Fantasy          NaN        NaN   NaN    NaN   NaN    NaN    NaN
Film-Noir  95.666667   1.527525  94.0  95.00  96.0  96.50   97.0
Horror     80.000000  15.362291  46.0  77.50  87.0  88.50   97.0
Mystery    79.125000  18.604435  52.0  65.25  77.0  98.50  100.0
Thriller   81.000000        NaN  81.0  81.00  81.0  81.00   81.0
Western    78.250000   9.032349  69.0  72.75  77.0  82.50   90.0

[14 rows x 40 columns]

In [20]:
genres.sample(4, replace = True)
# we use replace here so that  it doesn't throw error when all movi

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
604,Per un pugno di dollari,1964,99,Action,8.0,Sergio Leone,Clint Eastwood,198219,14500000,65.0
248,Eastern Promises,2007,100,Action,7.6,David Cronenberg,Naomi Watts,227760,17114882,82.0
80,Bãhubali: The Beginning,2015,159,Action,8.0,S.S. Rajamouli,Prabhas,102972,6738000,NaN
90,Bajrangi Bhaijaan,2015,163,Action,8.0,Kabir Khan,Salman Khan,72245,8178001,NaN
797,The Grand Budapest Hotel,2014,99,Adventure,8.1,Wes Anderson,Ralph Fiennes,707630,59100318,88.0
86,Back to the Future,1985,116,Adventure,8.5,Robert Zemeckis,Michael J. Fox,1058081,210609762,87.0
466,Lawrence of Arabia,1962,228,Adventure,8.3,David Lean,Peter O'Toole,268085,44824144,100.0
571,"O Brother, Where Art Thou?",2000,107,Adventure,7.7,Joel Coen,Ethan Coen,286742,45512588,69.0
411,Kaguyahime no monogatari,2013,137,Animation,8.0,Isao Takahata,Chloë Grace Moretz,38746,1506975,89.0
598,Papurika,2006,90,Animation,7.7,Satoshi Kon,Megumi Hayashibara,71379,881302,81.0
967,Watership Down,1978,91,Animation,7.6,Martin Rosen,John Hubley,33656,232841485,64.0
411,Kaguyahime no monogatari,2013,137,Animation,8.0,Isao Takahata,Chloë Grace Moretz,38746,1506975,89.0
132,Braveheart,1995,178,Biography,8.3,Mel Gibson,Mel Gibson,959181,75600000,68.0
573,October Sky,1999,108,Biography,7.8,Joe Johnston,Jake Gyllenhaal,82855,32481825,71.0
170,Cinderella Man,2005,144,Biography,8.0,Ron Howard,Russell Crowe,176151,61649911,69.0
450,La passion de Jeanne d'Arc,1928,110,Biography,8.1,Carl Theodor Dreyer,Maria Falconetti,47676,21877,NaN
305,Gisaengchung,2019,132,Comedy,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844,96.0
887,The Station Agent,2003,89,Comedy,7.6,Tom McCarthy,Peter Dinklage,67370,5739376,81.0
802,The Hangover,2009,100,Comedy,7.7,Todd Phillips,Zach Galifianakis,717559,277322503,73.0
242,Druk,2020,117,Comedy,7.8,Thomas Vinterberg,Mads Mikkelsen,33931,349916480,81.0
458,Låt den rätte komma in,2008,114,Crime,7.9,Tomas Alfredson,Kåre Hedebrant,205609,2122065,82.0
525,Miller's Crossing,1990,115,Crime,7.7,Joel Coen,Ethan Coen,125822,5080409,66.0
792,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000,90.0
662,Scarface,1983,170,Crime,8.3,Brian De Palma,Al Pacino,740911,45598982,65.0
128,Boogie Nights,1997,155,Drama,7.9,Paul Thomas Anderson,Mark Wahlberg,239473,26400640,85.0
113,Black,2005,122,Drama,8.2,Sanjay Leela Bhansali,Amitabh Bachchan,33354,733094,NaN
541,Moon,2009,97,Drama,7.9,Duncan Jones,Sam Rockwell,335152,5009677,67.0
433,Kokuhaku,2010,106,Drama,7.8,Tetsuya Nakashima,Takako Matsu,35713,18500194,NaN
977,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000,67.0
977,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000,67.0
246,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554,91.0
977,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000,67.0
567,Nosferatu,1922,94,Fantasy,7.9,F.W. Murnau,Max Schreck,88794,445151978,NaN
194,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718,NaN
194,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718,NaN
567,Nosferatu,1922,94,Fantasy,7.9,F.W. Murnau,Max Schreck,88794,445151978,NaN
846,The Maltese Falcon,1941,100,Film-Noir,8.0,John Huston,Humphrey Bogart,148928,2108060,96.0
677,Shadow of a Doubt,1943,108,Film-Noir,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292,94.0
846,The Maltese Falcon,1941,100,Film-Noir,8.0,John Huston,Humphrey Bogart,148928,2108060,96.0
897,The Third Man,1949,104,Film-Noir,8.1,Carol Reed,Orson Welles,158731,449191,97.0
779,The Exorcist,1973,122,Horror,8.0,William Friedkin,Ellen Burstyn,362393,232906145,81.0
561,Night of the Living Dead,1968,96,Horror,7.9,George A. Romero,Duane Jones,116557,89029,89.0
623,Psycho,1960,109,Horror,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000,97.0
299,Get Out,2017,104,Horror,7.7,Jordan Peele,Daniel Kaluuya,492851,176040665,85.0
635,Rear Window,1954,112,Mystery,8.4,Alfred Hitchcock,James Stewart,444074,36764313,100.0
688,Shutter Island,2010,138,Mystery,8.2,Martin Scorsese,Leonardo DiCaprio,1129894,128012934,63.0
495,Lost Highway,1997,134,Mystery,7.6,David Lynch,Bill Pullman,131101,3796699,52.0
953,Vertigo,1958,128,Mystery,8.3,Alfred Hitchcock,James Stewart,364368,3200000,100.0
961,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741,81.0
961,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741,81.0
961,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741,81.0
961,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741,81.0
862,The Outlaw Josey Wales,1976,135,Western,7.8,Clint Eastwood,Clint Eastwood,65659,31800000,69.0
368,"Il buono, il brutto, il cattivo",1966,161,Western,8.8,Sergio Leone,Clint Eastwood,688390,6100000,90.0
368,"Il buono, il brutto, il cattivo",1966,161,Western,8.8,Sergio Leone,Clint Eastwood,688390,6100000,90.0
603,Per qualche dollaro in più,1965,132,Western,8.3,Sergio Leone,Clint Eastwood,232772,15000000,74.0

In [21]:
genres.nunique()
# no use of unique

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,172,61,78,15,123,121,172,172,50
Adventure,72,49,58,10,59,59,72,72,33
Animation,82,35,41,11,51,77,82,82,29
Biography,88,44,56,13,76,72,88,88,40
Comedy,155,72,70,11,113,133,155,155,44
Crime,106,56,65,14,86,85,107,107,39
Drama,289,83,95,14,211,250,288,287,52
Family,2,2,2,1,2,2,2,2,2
Fantasy,2,2,2,2,2,2,2,2,0
Film-Noir,3,3,3,3,3,3,3,3,3
Horror,11,11,10,8,10,11,11,11,9
Mystery,12,11,10,8,10,11,12,12,7
Thriller,1,1,1,1,1,1,1,1,1
Western,4,4,4,4,2,2,4,4,4

In [22]:
# agg method(min,max,sum)
# passing dict
genres.agg(
    {
        'Runtime': 'mean',
        'IMDB_Rating': ['mean','sum'],
        'No_of_Votes': 'sum',
        'Gross': 'sum'
    
})

              Runtime IMDB_Rating         No_of_Votes        Gross
                 mean        mean     sum         sum          sum
Genre
Action     129.046512    7.949419  1367.3    72282412  32632261314
Adventure  134.111111    7.937500   571.5    22576163   9496922464
Animation   99.585366    7.930488   650.3    21978630  14631473048
Biography  136.022727    7.938636   698.6    24006844   8276357606
Comedy     112.129032    7.901290  1224.7    27620327  15663868165
Crime      126.392523    8.016822   857.8    33533615   8452631908
Drama      124.737024    7.957439  2299.7    61367304  35409974041
Family     107.500000    7.800000    15.6      551221    439110554
Fantasy     85.000000    8.000000    16.0      146222    782726696
Film-Noir  104.000000    7.966667    23.9      367215    125910543
Horror     102.090909    7.909091    87.0     3742556   1034649238
Mystery    119.083333    7.975000    95.7     4203004   1256417015
Thriller   108.000000    7.800000     7.8       27733     17550741
Western    148.250000    8.350000    33.4     1289665     58221508

In [23]:
genres.agg(['min','max','mean','sum'])

C:\Users\rahul\AppData\Local\Temp\ipykernel_15752\3562609311.py:1: FutureWarning: ['Series_Title', 'Released_Year', 'Director', 'Star1'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  genres.agg(['min','max','mean','sum'])

          Runtime                         IMDB_Rating                         \
              min  max        mean    sum         min  max      mean     sum
Genre
Action         45  321  129.046512  22196         7.6  9.0  7.949419  1367.3
Adventure      88  228  134.111111   9656         7.6  8.6  7.937500   571.5
Animation      71  137   99.585366   8166         7.6  8.6  7.930488   650.3
Biography      93  209  136.022727  11970         7.6  8.9  7.938636   698.6
Comedy         68  188  112.129032  17380         7.6  8.6  7.901290  1224.7
Crime          80  229  126.392523  13524         7.6  9.2  8.016822   857.8
Drama          64  242  124.737024  36049         7.6  9.3  7.957439  2299.7
Family        100  115  107.500000    215         7.8  7.8  7.800000    15.6
Fantasy        76   94   85.000000    170         7.9  8.1  8.000000    16.0
Film-Noir     100  108  104.000000    312         7.8  8.1  7.966667    23.9
Horror         71  122  102.090909   1123         7.6  8.5  7.909091    87.0
Mystery        96  138  119.083333   1429         7.6  8.4  7.975000    95.7
Thriller      108  108  108.000000    108         7.8  7.8  7.800000     7.8
Western       132  165  148.250000    593         7.8  8.8  8.350000    33.4

          No_of_Votes                                        Gross             \
                  min      max           mean       sum        min        max
Genre
Action          25312  2303232  420246.581395  72282412       3296  936662225
Adventure       29999  1512360  313557.819444  22576163      61001  874211619
Animation       25229   999790  268032.073171  21978630     128985  873839108
Biography       27254  1213505  272805.045455  24006844      21877  753585104
Comedy          26337   939631  178195.658065  27620327       1305  886752933
Crime           27712  1826188  313398.271028  33533615       6013  790482117
Drama           25088  2343110  212343.612457  61367304       3600  924558264
Family         178731   372490  275610.500000    551221    4000000  435110554
Fantasy         57428    88794   73111.000000    146222  337574718  445151978
Film-Noir       59556   158731  122405.000000    367215     449191  123353292
Horror          27007   787806  340232.363636   3742556      89029  298791505
Mystery         33982  1129894  350250.333333   4203004    1035953  474203697
Thriller        27733    27733   27733.000000     27733   17550741   17550741
Western         65659   688390  322416.250000   1289665    5321508   31800000

                                     Metascore
                   mean          sum       min    max       mean      sum
Genre
Action     1.897224e+08  32632261314      33.0   98.0  73.419580  10499.0
Adventure  1.319017e+08   9496922464      41.0  100.0  78.437500   5020.0
Animation  1.784326e+08  14631473048      61.0   96.0  81.093333   6082.0
Biography  9.404952e+07   8276357606      48.0   97.0  76.240506   6023.0
Comedy     1.010572e+08  15663868165      45.0   99.0  78.720000   9840.0
Crime      7.899656e+07   8452631908      47.0  100.0  77.080460   6706.0
Drama      1.225259e+08  35409974041      28.0  100.0  79.701245  19208.0
Family     2.195553e+08    439110554      67.0   91.0  79.000000    158.0
Fantasy    3.913633e+08    782726696       NaN    NaN        NaN      0.0
Film-Noir  4.197018e+07    125910543      94.0   97.0  95.666667    287.0
Horror     9.405902e+07   1034649238      46.0   97.0  80.000000    880.0
Mystery    1.047014e+08   1256417015      52.0  100.0  79.125000    633.0
Thriller   1.755074e+07     17550741      81.0   81.0  81.000000     81.0
Western    1.455538e+07     58221508      69.0   90.0  78.250000    313.0

In [24]:
#Looping in groups
for group,data in genres:
    print(data)

                   Series_Title Released_Year  Runtime   Genre  IMDB_Rating  \
0                           300          2006      117  Action          7.6
10                 3:10 to Yuma          2007      122  Action          7.7
25                  A Wednesday          2008      104  Action          8.1
34     Aguirre, der Zorn Gottes          1972       95  Action          7.9
38                      Ajeossi          2010      119  Action          7.8
..                          ...           ...      ...     ...          ...
984              X: First Class          2011      131  Action          7.7
985  X-Men: Days of Future Past          2014      132  Action          7.9
987                     Yôjinbô          1961      110  Action          8.2
989                  Ying xiong          2002      120  Action          7.9
990                     Yip Man          2008      106  Action          8.0

           Director            Star1  No_of_Votes      Gross  Metascore
0       Zack Snyder    Gerard Butler       732876  210614939       52.0
10    James Mangold    Russell Crowe       288797   53606916       76.0
25    Neeraj Pandey      Anupam Kher        73891  573329738        NaN
34    Werner Herzog     Klaus Kinski        52397  508046921        NaN
38   Jeong-beom Lee          Won Bin        62848       6460        NaN
..              ...              ...          ...        ...        ...
984  Matthew Vaughn     James McAvoy       645512  146408305       65.0
985    Bryan Singer  Patrick Stewart       659763  233921534       75.0
987  Akira Kurosawa   Toshirô Mifune       111244  474518350        NaN
989     Yimou Zhang           Jet Li       173999   53710019       85.0
990      Wilson Yip       Donnie Yen       211427  613703997       59.0

[172 rows x 10 columns]
                         Series_Title Released_Year  Runtime      Genre  \
5               2001: A Space Odyssey          1968      149  Adventure
47                      Almost Famous          2000      122  Adventure
66                          Apollo 13            PG      140  Adventure
86                 Back to the Future          1985      116  Adventure
87         Back to the Future Part II          1989      108  Adventure
..                                ...           ...      ...        ...
898  The Treasure of the Sierra Madre          1948      126  Adventure
907                  The Wizard of Oz          1939      102  Adventure
918              To Have and Have Not          1944      100  Adventure
921                              Togo          2019      113  Adventure
996                        Zombieland          2009       88  Adventure

     IMDB_Rating         Director            Star1  No_of_Votes      Gross  \
5            8.3  Stanley Kubrick      Keir Dullea       603517   56954992
47           7.9    Cameron Crowe     Billy Crudup       252586   32534850
66           7.6       Ron Howard        Tom Hanks       269197  173837933
86           8.5  Robert Zemeckis   Michael J. Fox      1058081  210609762
87           7.8  Robert Zemeckis   Michael J. Fox       481918  118500000
..           ...              ...              ...          ...        ...
898          8.2      John Huston  Humphrey Bogart       114304    5014000
907          8.0   Victor Fleming     George Cukor       371379    2076020
918          7.8     Howard Hawks  Humphrey Bogart        31053  477606207
921          8.0     Ericson Core     Willem Dafoe        37556  874211619
996          7.6  Ruben Fleischer  Jesse Eisenberg       520041   75590286

     Metascore
5         84.0
47        90.0
66        77.0
86        87.0
87        57.0
..         ...
898       98.0
907       92.0
918        NaN
921       69.0
996       73.0

[72 rows x 10 columns]
                     Series_Title Released_Year  Runtime      Genre  \
26    Ôkami kodomo no Ame to Yuki          2012      117  Animation
39                          Akira          1988      124  Animation
40                        Aladdin          1992       90  Animation
95   Batman: Mask of the Phantasm          1993       76  Animation
98           Beauty and the Beast          1991       84  Animation
..                            ...           ...      ...        ...
964                        WALL·E          2008       98  Animation
967                Watership Down          1978       91  Animation
975       Who Framed Roger Rabbit          1988      104  Animation
983                Wreck-It Ralph          2012      101  Animation
997                      Zootopia          2016      108  Animation

     IMDB_Rating         Director           Star1  No_of_Votes      Gross  \
26           8.1    Mamoru Hosoda    Aoi Miyazaki        38803  224400323
39           8.0  Katsuhiro Ôtomo    Mitsuo Iwata       164918     553171
40           8.0     Ron Clements     John Musker       373845  217350219
95           7.8    Kevin Altieri   Boyd Kirkland        43690    5617391
98           8.0   Gary Trousdale       Kirk Wise       417178  218967620
..           ...              ...             ...          ...        ...
964          8.4   Andrew Stanton       Ben Burtt       999790  223808164
967          7.6     Martin Rosen     John Hubley        33656  232841485
975          7.7  Robert Zemeckis     Bob Hoskins       182009  156452370
983          7.7       Rich Moore  John C. Reilly       380195  189422889
997          8.0     Byron Howard      Rich Moore       434143  341268248

     Metascore
26        71.0
39         NaN
40        86.0
95         NaN
98        95.0
..         ...
964       95.0
967       64.0
975       83.0
983       72.0
997       78.0

[82 rows x 10 columns]
                   Series_Title Released_Year  Runtime      Genre  \
4              12 Years a Slave          2013      134  Biography
14             A Beautiful Mind          2001      135  Biography
21        A Man for All Seasons          1966      120  Biography
46      All the President's Men          1976      138  Biography
49                      Amadeus          1984      160  Biography
..                          ...           ...      ...        ...
893    The Theory of Everything          2014      123  Biography
908     The Wolf of Wall Street          2013      180  Biography
909  The World's Fastest Indian          2005      127  Biography
963               Walk the Line          2005      136  Biography
993                     Zerkalo          1975      107  Biography

     IMDB_Rating          Director                Star1  No_of_Votes  \
4            8.1     Steve McQueen     Chiwetel Ejiofor       640533
14           8.2        Ron Howard        Russell Crowe       848920
21           7.7    Fred Zinnemann        Paul Scofield        31222
46           7.9    Alan J. Pakula       Dustin Hoffman       103031
49           8.3      Milos Forman    F. Murray Abraham       369007
..           ...               ...                  ...          ...
893          7.7       James Marsh       Eddie Redmayne       404182
908          8.2   Martin Scorsese    Leonardo DiCaprio      1187498
909          7.8   Roger Donaldson      Anthony Hopkins        51980
963          7.8     James Mangold      Joaquin Phoenix       234207
993          8.1  Andrei Tarkovsky  Margarita Terekhova        40081

         Gross  Metascore
4     56671993       96.0
14   170742341       72.0
21    28350000       72.0
46    70600000       84.0
49    51973029       88.0
..         ...        ...
893   35893537       72.0
908  116900694       75.0
909    5128124       68.0
963  119519402       72.0
993     177345        NaN

[88 rows x 10 columns]
                 Series_Title Released_Year  Runtime   Genre  IMDB_Rating  \
2        (500) Days of Summer          2009       95  Comedy          7.7
9                    3 Idiots          2009      170  Comedy          8.4
12                      50/50          2011      100  Comedy          7.6
16          A Christmas Story          1983       93  Comedy          7.9
19         A Hard Day's Night          1964       87  Comedy          7.6
..                        ...           ...      ...     ...          ...
979              Withnail & I          1987      107  Comedy          7.7
988      Yeopgijeogin geunyeo          2001      137  Comedy          8.0
991        Young Frankenstein          1974      106  Comedy          8.0
992                     Zelig          1983       79  Comedy          7.7
994  Zindagi Na Milegi Dobara          2011      155  Comedy          8.1

            Director                 Star1  No_of_Votes      Gross  Metascore
2          Marc Webb       Zooey Deschanel       472242   32391374       76.0
9    Rajkumar Hirani            Aamir Khan       344445    6532908       67.0
12   Jonathan Levine  Joseph Gordon-Levitt       315426   35014192       72.0
16         Bob Clark     Peter Billingsley       132947   20605209       77.0
19    Richard Lester           John Lennon        40351   13780024       96.0
..               ...                   ...          ...        ...        ...
979   Bruce Robinson      Richard E. Grant        40396    1544889       84.0
988   Jae-young Kwak          Tae-Hyun Cha        45403  772721890        NaN
991       Mel Brooks           Gene Wilder       143359   86300000       80.0
992      Woody Allen           Woody Allen        39881   11798616        NaN
994      Zoya Akhtar        Hrithik Roshan        67927    3108485        NaN

[155 rows x 10 columns]
                    Series_Title Released_Year  Runtime  Genre  IMDB_Rating  \
3                   12 Angry Men          1957       96  Crime          9.0
6                       21 Grams          2003      124  Crime          7.6
15                  A Bronx Tale          1993      121  Crime          7.8
17            A Clockwork Orange          1971      136  Crime          8.3
27             À bout de souffle          1960       90  Crime          7.8
..                           ...           ...      ...    ...          ...
944                  Un prophète          2009      155  Crime          7.9
955                     Victoria          2015      138  Crime          7.6
978                   Wind River          2017      107  Crime          7.7
980  Witness for the Prosecution          1957      116  Crime          8.4
995                       Zodiac          2007      157  Crime          7.7

                  Director               Star1  No_of_Votes      Gross  \
3             Sidney Lumet         Henry Fonda       689845    4360000
6    Alejandro G. Iñárritu           Sean Penn       224545   16290476
15          Robert De Niro      Robert De Niro       128171   17266971
17         Stanley Kubrick    Malcolm McDowell       757904    6207725
27         Jean-Luc Godard  Jean-Paul Belmondo        73251     336705
..                     ...                 ...          ...        ...
944        Jacques Audiard         Tahar Rahim        93560    2084637
955     Sebastian Schipper          Laia Costa        52903  718096942
978        Taylor Sheridan      Kelsey Asbille       205444   33800859
980           Billy Wilder        Tyrone Power       108862    8175000
995          David Fincher     Jake Gyllenhaal       466080   33080084

     Metascore
3         96.0
6         70.0
15        80.0
17        77.0
27         NaN
..         ...
944       90.0
955       77.0
978       73.0
980        NaN
995       78.0

[107 rows x 10 columns]
                        Series_Title Released_Year  Runtime  Genre  \
1                               1917          2019      119  Drama
7                          25th Hour          2002      135  Drama
8                   28 Days Later...          2002      113  Drama
11     4 luni, 3 saptamâni si 2 zile          2007      113  Drama
13                                8½          1963      138  Drama
..                               ...           ...      ...    ...
976  Who's Afraid of Virginia Woolf?          1966      131  Drama
982                           Wonder          2017      113  Drama
986                Y tu mamá también          2001      106  Drama
998                             Zulu          1964      138  Drama
999                        Zwartboek          2006      145  Drama

     IMDB_Rating          Director                 Star1  No_of_Votes  \
1            8.3        Sam Mendes  Dean-Charles Chapman       425844
7            7.6         Spike Lee         Edward Norton       169708
8            7.6       Danny Boyle        Cillian Murphy       376853
11           7.9   Cristian Mungiu      Anamaria Marinca        56625
13           8.0  Federico Fellini  Marcello Mastroianni       108844
..           ...               ...                   ...          ...
976          8.0      Mike Nichols      Elizabeth Taylor        68926
982          8.0   Stephen Chbosky        Jacob Tremblay       141923
986          7.6    Alfonso Cuarón         Maribel Verdú       115827
998          7.7       Cy Endfield         Stanley Baker        35999
999          7.7    Paul Verhoeven     Carice van Houten        72643

         Gross  Metascore
1    159227644       78.0
7     13060843       68.0
8     45064915       73.0
11     1185783       97.0
13       50690       91.0
..         ...        ...
976  839059631       75.0
982  132422809       66.0
986   13622333       88.0
998  790226546       77.0
999    4398392       71.0

[289 rows x 10 columns]
                            Series_Title Released_Year  Runtime   Genre  \
246           E.T. the Extra-Terrestrial          1982      115  Family
977  Willy Wonka & the Chocolate Factory          1971      100  Family

     IMDB_Rating          Director         Star1  No_of_Votes      Gross  \
246          7.8  Steven Spielberg  Henry Thomas       372490  435110554
977          7.8        Mel Stuart   Gene Wilder       178731    4000000

     Metascore
246       91.0
977       67.0
                     Series_Title Released_Year  Runtime    Genre  \
194  Das Cabinet des Dr. Caligari          1920       76  Fantasy
567                     Nosferatu          1922       94  Fantasy

     IMDB_Rating      Director          Star1  No_of_Votes      Gross  \
194          8.1  Robert Wiene  Werner Krauss        57428  337574718
567          7.9   F.W. Murnau    Max Schreck        88794  445151978

     Metascore
194        NaN
567        NaN
           Series_Title Released_Year  Runtime      Genre  IMDB_Rating  \
677   Shadow of a Doubt          1943      108  Film-Noir          7.8
846  The Maltese Falcon          1941      100  Film-Noir          8.0
897       The Third Man          1949      104  Film-Noir          8.1

             Director            Star1  No_of_Votes      Gross  Metascore
677  Alfred Hitchcock    Teresa Wright        59556  123353292       94.0
846       John Huston  Humphrey Bogart       148928    2108060       96.0
897        Carol Reed     Orson Welles       158731     449191       97.0
                 Series_Title Released_Year  Runtime   Genre  IMDB_Rating  \
41                      Alien          1979      117  Horror          8.4
299                   Get Out          2017      104  Horror          7.7
332                 Halloween          1978       91  Horror          7.7
561  Night of the Living Dead          1968       96  Horror          7.9
623                    Psycho          1960      109  Horror          8.5
661                       Saw          2004      103  Horror          7.6
779              The Exorcist          1973      122  Horror          8.0
812             The Innocents          1961      100  Horror          7.8
815         The Invisible Man          1933       71  Horror          7.7
861                The Others          2001      101  Horror          7.6
896                 The Thing          1982      109  Horror          8.1

               Director             Star1  No_of_Votes      Gross  Metascore
41         Ridley Scott  Sigourney Weaver       787806   78900000       89.0
299        Jordan Peele    Daniel Kaluuya       492851  176040665       85.0
332      John Carpenter  Donald Pleasence       233106   47000000       87.0
561    George A. Romero       Duane Jones       116557      89029       89.0
623    Alfred Hitchcock   Anthony Perkins       604211   32000000       97.0
661           James Wan        Cary Elwes       379020   56000369       46.0
779    William Friedkin     Ellen Burstyn       362393  232906145       81.0
812        Jack Clayton      Deborah Kerr        27007    2616000       88.0
815         James Whale      Claude Rains        30683  298791505       87.0
861  Alejandro Amenábar     Nicole Kidman       337651   96522687       74.0
896      John Carpenter      Kurt Russell       371271   13782838       57.0
          Series_Title Released_Year  Runtime    Genre  IMDB_Rating  \
191          Dark City          1998      100  Mystery          7.6
254          El cuerpo          2012      112  Mystery          7.6
412            Kahaani          2012      122  Mystery          8.1
495       Lost Highway          1997      134  Mystery          7.6
520            Memento          2000      113  Mystery          8.4
635        Rear Window          1954      112  Mystery          8.4
688     Shutter Island          2010      138  Mystery          8.2
696             Sleuth          1972      138  Mystery          8.0
711          Spoorloos          1988      107  Mystery          7.7
824  The Lady Vanishes          1938       96  Mystery          7.8
940     Twelve Monkeys          1995      129  Mystery          8.0
953            Vertigo          1958      128  Mystery          8.3

                 Director                     Star1  No_of_Votes      Gross  \
191           Alex Proyas              Rufus Sewell       187927   14378331
254           Oriol Paulo             Jose Coronado        57549  140340673
412           Sujoy Ghosh               Vidya Balan        57806    1035953
495           David Lynch              Bill Pullman       131101    3796699
520     Christopher Nolan                Guy Pearce      1125712   25544867
635      Alfred Hitchcock             James Stewart       444074   36764313
688       Martin Scorsese         Leonardo DiCaprio      1129894  128012934
696  Joseph L. Mankiewicz          Laurence Olivier        44748    4081254
711        George Sluizer  Bernard-Pierre Donnadieu        33982  367916835
824      Alfred Hitchcock         Margaret Lockwood        47400  474203697
940         Terry Gilliam              Bruce Willis       578443   57141459
953      Alfred Hitchcock             James Stewart       364368    3200000

     Metascore
191       66.0
254        NaN
412        NaN
495       52.0
520       80.0
635      100.0
688       63.0
696        NaN
711        NaN
824       98.0
940       74.0
953      100.0
        Series_Title Released_Year  Runtime     Genre  IMDB_Rating  \
961  Wait Until Dark          1967      108  Thriller          7.8

          Director           Star1  No_of_Votes     Gross  Metascore
961  Terence Young  Audrey Hepburn        27733  17550741       81.0
                        Series_Title Released_Year  Runtime    Genre  \
368  Il buono, il brutto, il cattivo          1966      161  Western
584     Once Upon a Time in the West          1968      165  Western
603       Per qualche dollaro in più          1965      132  Western
862           The Outlaw Josey Wales          1976      135  Western

     IMDB_Rating        Director           Star1  No_of_Votes     Gross  \
368          8.8    Sergio Leone  Clint Eastwood       688390   6100000
584          8.5    Sergio Leone     Henry Fonda       302844   5321508
603          8.3    Sergio Leone  Clint Eastwood       232772  15000000
862          7.8  Clint Eastwood  Clint Eastwood        65659  31800000

     Metascore
368       90.0
584       80.0
603       74.0
862       69.0

In [25]:
import warnings
warnings.filterwarnings('ignore')

In [26]:
# finding highest rated movies in each genres
#Creating an empty dataset to store the value
df = pd.DataFrame(columns=movies.columns)
for group,data in genres:
    df = df.append(data[data['IMDB_Rating']== data['IMDB_Rating'].max()])
df

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
771,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444,84.0
385,Interstellar,2014,169,Adventure,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017,74.0
669,Sen to Chihiro no kamikakushi,2001,125,Animation,8.6,Hayao Miyazaki,Daveigh Chase,651376,10055859,96.0
665,Schindler's List,1993,195,Biography,8.9,Steven Spielberg,Liam Neeson,1213505,96898818,94.0
305,Gisaengchung,2019,132,Comedy,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844,96.0
457,La vita è bella,1997,116,Comedy,8.6,Roberto Benigni,Roberto Benigni,623629,57598247,59.0
791,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411,100.0
880,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469,80.0
246,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554,91.0
977,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000,67.0
194,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718,NaN
897,The Third Man,1949,104,Film-Noir,8.1,Carol Reed,Orson Welles,158731,449191,97.0
623,Psycho,1960,109,Horror,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000,97.0
520,Memento,2000,113,Mystery,8.4,Christopher Nolan,Guy Pearce,1125712,25544867,80.0
635,Rear Window,1954,112,Mystery,8.4,Alfred Hitchcock,James Stewart,444074,36764313,100.0
961,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741,81.0
368,"Il buono, il brutto, il cattivo",1966,161,Western,8.8,Sergio Leone,Clint Eastwood,688390,6100000,90.0

## Apply

In [27]:
#find number of movies starting with A for each group

# genres.apply(min)

def val(group):
    return group['Series_Title'].str.startswith('A').sum()

In [28]:
genres.apply(val)

Genre
Action       10
Adventure     2
Animation     2
Biography     9
Comedy       14
Crime         4
Drama        21
Family        0
Fantasy       0
Film-Noir     0
Horror        1
Mystery       0
Thriller      0
Western       0
dtype: int64

In [29]:
# find ranking of each movie in the group according to IMDB score
def rank_movie(group):
    group['genre_rank'] = group['IMDB_Rating'].rank(ascending= False)
    return group

In [30]:
#finding rank of each movie in the group according to IMDB score
genres.apply(rank_movie)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore,genre_rank
0,300,2006,117,Action,7.6,Zack Snyder,Gerard Butler,732876,210614939,52.0,160.0
1,1917,2019,119,Drama,8.3,Sam Mendes,Dean-Charles Chapman,425844,159227644,78.0,30.5
2,(500) Days of Summer,2009,95,Comedy,7.7,Marc Webb,Zooey Deschanel,472242,32391374,76.0,121.0
3,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000,96.0,2.5
4,12 Years a Slave,2013,134,Biography,8.1,Steve McQueen,Chiwetel Ejiofor,640533,56671993,96.0,21.5
...,...,...,...,...,...,...,...,...,...,...,...
995,Zodiac,2007,157,Crime,7.7,David Fincher,Jake Gyllenhaal,466080,33080084,78.0,88.5
996,Zombieland,2009,88,Adventure,7.6,Ruben Fleischer,Jesse Eisenberg,520041,75590286,73.0,68.0
997,Zootopia,2016,108,Animation,8.0,Byron Howard,Rich Moore,434143,341268248,78.0,32.0
998,Zulu,1964,138,Drama,7.7,Cy Endfield,Stanley Baker,35999,790226546,77.0,234.0
999,Zwartboek,2006,145,Drama,7.7,Paul Verhoeven,Carice van Houten,72643,4398392,71.0,234.0

In [43]:
#find normalized rating for each group

def normal(group):
    group['normal_rating'] = (group['IMDB_Rating'] - group['IMDB_Rating'].min()) / (group['IMDB_Rating'].max() - group['IMDB_Rating'].min())
    return group

# Make sure genres is a DataFrame before applying groupby
genres = genres.groupby('Genre').apply(normal)

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

In [45]:
#groupby on  multiple columns
duo = movies.groupby(['Director','Star1'])
duo

#size
duo.size()
#get group
duo.get_group(('Aamir Khan','Amole Gupte'))

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
734,Taare Zameen Par,2007,165,Drama,8.4,Aamir Khan,Amole Gupte,168895,1223869,NaN

In [47]:
#find the most earning actor -> director combo
duo['Gross'].sum().sort_values(ascending = False).head(1)

Director        Star1
Akira Kurosawa  Toshirô Mifune    2999876948
Name: Gross, dtype: int64

In [51]:
#find the best(in terms of mastarcore(avg)) actor->genre combo
movies.groupby(['Star1','Genre'])['Metascore'].mean().reset_index().sort_values('Metascore', ascending = False)

                Star1    Genre  Metascore
230    Ellar Coltrane    Drama      100.0
329   Humphrey Bogart    Drama      100.0
360     James Stewart  Mystery      100.0
77        Bertil Guve    Drama      100.0
590      Orson Welles    Drama      100.0
..                ...      ...        ...
807    William Holden    Drama        NaN
812           Won Bin   Action        NaN
815              Yash   Action        NaN
826    Çetin Tekindor    Drama        NaN
828  Ömer Faruk Sorak   Comedy        NaN

[829 rows x 3 columns]

In [53]:
# agg to multiple groupby
duo.agg(['min','max','mean'])

                                   Runtime             IMDB_Rating            \
                                       min  max   mean         min  max mean
Director            Star1
Aamir Khan          Amole Gupte        165  165  165.0         8.4  8.4  8.4
Aaron Sorkin        Eddie Redmayne     129  129  129.0         7.8  7.8  7.8
Abdellatif Kechiche Léa Seydoux        180  180  180.0         7.7  7.7  7.7
Abhishek Chaubey    Shahid Kapoor      148  148  148.0         7.8  7.8  7.8
Abhishek Kapoor     Amit Sadh          130  130  130.0         7.7  7.7  7.7
...                                    ...  ...    ...         ...  ...  ...
Zaza Urushadze      Lembit Ulfsak       87   87   87.0         8.2  8.2  8.2
Zoya Akhtar         Hrithik Roshan     155  155  155.0         8.1  8.1  8.1
                    Vijay Varma        154  154  154.0         8.0  8.0  8.0
Çagan Irmak         Çetin Tekindor     112  112  112.0         8.3  8.3  8.3
Ömer Faruk Sorak    Cem Yilmaz         127  127  127.0         8.0  8.0  8.0

                                   No_of_Votes                        Gross  \
                                           min     max      mean        min
Director            Star1
Aamir Khan          Amole Gupte         168895  168895  168895.0    1223869
Aaron Sorkin        Eddie Redmayne       89896   89896   89896.0  853090410
Abdellatif Kechiche Léa Seydoux         138741  138741  138741.0    2199675
Abhishek Chaubey    Shahid Kapoor        27175   27175   27175.0  218428303
Abhishek Kapoor     Amit Sadh            32628   32628   32628.0    1122527
...                                        ...     ...       ...        ...
Zaza Urushadze      Lembit Ulfsak        40382   40382   40382.0     144501
Zoya Akhtar         Hrithik Roshan       67927   67927   67927.0    3108485
                    Vijay Varma          31886   31886   31886.0    5566534
Çagan Irmak         Çetin Tekindor       78925   78925   78925.0  461855363
Ömer Faruk Sorak    Cem Yilmaz           56960   56960   56960.0  196206077

                                                           Metascore        \
                                          max         mean       min   max
Director            Star1
Aamir Khan          Amole Gupte       1223869    1223869.0       NaN   NaN
Aaron Sorkin        Eddie Redmayne  853090410  853090410.0      77.0  77.0
Abdellatif Kechiche Léa Seydoux       2199675    2199675.0      89.0  89.0
Abhishek Chaubey    Shahid Kapoor   218428303  218428303.0       NaN   NaN
Abhishek Kapoor     Amit Sadh         1122527    1122527.0      40.0  40.0
...                                       ...          ...       ...   ...
Zaza Urushadze      Lembit Ulfsak      144501     144501.0      73.0  73.0
Zoya Akhtar         Hrithik Roshan    3108485    3108485.0       NaN   NaN
                    Vijay Varma       5566534    5566534.0      65.0  65.0
Çagan Irmak         Çetin Tekindor  461855363  461855363.0       NaN   NaN
Ömer Faruk Sorak    Cem Yilmaz      196206077  196206077.0       NaN   NaN


                                    mean
Director            Star1
Aamir Khan          Amole Gupte      NaN
Aaron Sorkin        Eddie Redmayne  77.0
Abdellatif Kechiche Léa Seydoux     89.0
Abhishek Chaubey    Shahid Kapoor    NaN
Abhishek Kapoor     Amit Sadh       40.0
...                                  ...
Zaza Urushadze      Lembit Ulfsak   73.0
Zoya Akhtar         Hrithik Roshan   NaN
                    Vijay Varma     65.0
Çagan Irmak         Çetin Tekindor   NaN
Ömer Faruk Sorak    Cem Yilmaz       NaN

[898 rows x 15 columns]

## Exercise

In [54]:
ipl1 = pd.read_csv('deliveries.csv')

In [59]:
ipl1.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [55]:
ipl1.shape

(179078, 21)

In [58]:
ipl1.size

3760638

In [63]:
# find the top ten batsman in terms of run
ipl1.groupby('batsman')['batsman_runs'].sum().sort_values(ascending= False).head(10)

batsman
V Kohli           5434
SK Raina          5415
RG Sharma         4914
DA Warner         4741
S Dhawan          4632
CH Gayle          4560
MS Dhoni          4477
RV Uthappa        4446
AB de Villiers    4428
G Gambhir         4223
Name: batsman_runs, dtype: int64

In [66]:
#find the batsman with most number of runs
six = ipl1[ipl1['batsman_runs'] == 6]
six.groupby('batsman')['batsman'].count().sort_values(ascending = False).head(1)#index[0]

batsman
CH Gayle    327
Name: batsman, dtype: int64

In [72]:
# find the batsman with most number of 4's and 6's in last 5 overs
temp_df = ipl1[ipl1['over']>15]
temp_df = temp_df[(temp_df['batsman_runs'] == 4) | (temp_df['batsman_runs']==6)]
temp_df.groupby('batsman')['batsman'].count().sort_values(ascending = False).head(1).index[0]

'MS Dhoni'

In [75]:
#find V kohli record against all teams
temp = ipl1[ipl1['batsman']=='V Kohli']
temp.groupby('bowling_team')['batsman_runs'].sum()

bowling_team
Chennai Super Kings        749
Deccan Chargers            306
Delhi Capitals              66
Delhi Daredevils           763
Gujarat Lions              283
Kings XI Punjab            636
Kochi Tuskers Kerala        50
Kolkata Knight Riders      675
Mumbai Indians             628
Pune Warriors              128
Rajasthan Royals           370
Rising Pune Supergiant      83
Rising Pune Supergiants    188
Sunrisers Hyderabad        509
Name: batsman_runs, dtype: int64

In [84]:
# #create a function that can return the highest score of any batsman
temp2 = ipl1[ipl1['batsman']=='V Kohli']
temp2.groupby('match_id')['batsman_runs'].sum().sort_values(ascending=False).head(1).values[0]

113

In [90]:
def highest_runs(batsman):
    temp2 = ipl1[ipl1['batsman']== batsman]
    return temp2.groupby('match_id')['batsman_runs'].sum().sort_values(ascending=False).head(1).values[0]

In [92]:
highest_runs('MS Dhoni')

89

In [95]:
courses = pd.read_csv('courses.csv')
students = pd.read_csv('students.csv')
nov = pd.read_csv('reg-month1.csv')
dec = pd.read_csv('reg-month2.csv')
matches = pd.read_csv('matches.csv')
delivery = pd.read_csv('deliveries.csv')

courses
students
nov
dec
matches
delivery

In [103]:
dec.shape

(28, 2)

### pd.concat
### df.concat
### ignore_index
### df.append
### multiidex -> ftch using iloc
### concat dataframes horizontally

In [107]:
regs = pd.concat([nov,dec], ignore_index =True)
regs

    student_id  course_id
0           23          1
1           15          5
2           18          6
3           23          4
4           16          9
5           18          1
6            1          1
7            7          8
8           22          3
9           15          1
10          19          4
11           1          6
12           7         10
13          11          7
14          13          3
15          24          4
16          21          1
17          16          5
18          23          3
19          17          7
20          23          6
21          25          1
22          19          2
23          25         10
24           3          3
25           3          5
26          16          7
27          12         10
28          12          1
29          14          9
30           7          7
31           7          2
32          16          3
33          17         10
34          11          8
35          14          6
36          12          5
37          12          7
38          18          8
39           1         10
40           1          9
41           2          5
42           7          6
43          22          5
44          22          6
45          23          9
46          23          5
47          14          4
48          14          1
49          11         10
50          42          9
51          50          8
52          38          1

In [109]:
nov.append(dec, ignore_index = True)

    student_id  course_id
0           23          1
1           15          5
2           18          6
3           23          4
4           16          9
5           18          1
6            1          1
7            7          8
8           22          3
9           15          1
10          19          4
11           1          6
12           7         10
13          11          7
14          13          3
15          24          4
16          21          1
17          16          5
18          23          3
19          17          7
20          23          6
21          25          1
22          19          2
23          25         10
24           3          3
25           3          5
26          16          7
27          12         10
28          12          1
29          14          9
30           7          7
31           7          2
32          16          3
33          17         10
34          11          8
35          14          6
36          12          5
37          12          7
38          18          8
39           1         10
40           1          9
41           2          5
42           7          6
43          22          5
44          22          6
45          23          9
46          23          5
47          14          4
48          14          1
49          11         10
50          42          9
51          50          8
52          38          1

In [118]:
 multi = pd.concat([nov,dec], keys = ['Nov','Dec'])
#multiindex Dataframe
#indexing
multi.loc['Nov',0]

student_id    23
course_id      1
Name: (Nov, 0), dtype: int64

In [120]:
pd.concat([nov,dec], axis = 1).shape

(28, 4)