In [1]:
import pandas as pd
import numpy as np

In [3]:
movies = pd.read_csv('imdb-top-1000.csv')
movies.sample()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
886,The Sound of Music,1965,172,Biography,8.0,Robert Wise,Julie Andrews,205425,163214286,63.0

In [5]:
genres = movies.groupby('Genre')
genres

In [6]:
# Applying Builtin aggregation functions on groupby object
genres.sum()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,"3003:10 to YumaA WednesdayAguirre, der Zorn Go...",2006200720081972201019861994201020062009201920...,22196,1367.3,Zack SnyderJames MangoldNeeraj PandeyWerner He...,Gerard ButlerRussell CroweAnupam KherKlaus Kin...,72282412,32632261314,10499.0
Adventure,2001: A Space OdysseyAlmost FamousApollo 13Bac...,19682000PG198519891975195920032006201320002006...,9656,571.5,Stanley KubrickCameron CroweRon HowardRobert Z...,Keir DulleaBilly CrudupTom HanksMichael J. Fox...,22576163,9496922464,5020.0
Animation,Ôkami kodomo no Ame to YukiAkiraAladdinBatman:...,2012198819921993199120142017200920012010194020...,8166,650.3,Mamoru HosodaKatsuhiro ÔtomoRon ClementsKevin ...,Aoi MiyazakiMitsuo IwataJohn MuskerBoyd Kirkla...,21978630,14631473048,6082.0
Biography,12 Years a SlaveA Beautiful MindA Man for All ...,2013200119661976198420071966201219902017201320...,11970,698.6,Steve McQueenRon HowardFred ZinnemannAlan J. P...,Chiwetel EjioforRussell CrowePaul ScofieldDust...,24006844,8276357606,6023.0
Comedy,(500) Days of Summer3 Idiots50/50A Christmas S...,2009200920111983196419352013200520021985198020...,17380,1224.7,Marc WebbRajkumar HiraniJonathan LevineBob Cla...,Zooey DeschanelAamir KhanJoseph Gordon-LevittP...,27620327,15663868165,9840.0
Crime,12 Angry Men21 GramsA Bronx TaleA Clockwork Or...,1957200319931971196019592018200420111984200219...,13524,857.8,Sidney LumetAlejandro G. IñárrituRobert De Nir...,Henry FondaSean PennRobert De NiroMalcolm McDo...,33533615,8452631908,6706.0
Drama,"191725th Hour28 Days Later...4 luni, 3 saptamâ...",2019200220022007196319921995201819511997195120...,36049,2299.7,Sam MendesSpike LeeDanny BoyleCristian MungiuF...,Dean-Charles ChapmanEdward NortonCillian Murph...,61367304,35409974041,19208.0
Family,E.T. the Extra-TerrestrialWilly Wonka & the Ch...,19821971,215,15.6,Steven SpielbergMel Stuart,Henry ThomasGene Wilder,551221,439110554,158.0
Fantasy,Das Cabinet des Dr. CaligariNosferatu,19201922,170,16.0,Robert WieneF.W. Murnau,Werner KraussMax Schreck,146222,782726696,0.0
Film-Noir,Shadow of a DoubtThe Maltese FalconThe Third Man,194319411949,312,23.9,Alfred HitchcockJohn HustonCarol Reed,Teresa WrightHumphrey BogartOrson Welles,367215,125910543,287.0
Horror,AlienGet OutHalloweenNight of the Living DeadP...,19792017197819681960200419731961193320011982,1123,87.0,Ridley ScottJordan PeeleJohn CarpenterGeorge A...,Sigourney WeaverDaniel KaluuyaDonald Pleasence...,3742556,1034649238,880.0
Mystery,Dark CityEl cuerpoKahaaniLost HighwayMementoRe...,199820122012199720001954201019721988193819951958,1429,95.7,Alex ProyasOriol PauloSujoy GhoshDavid LynchCh...,Rufus SewellJose CoronadoVidya BalanBill Pullm...,4203004,1256417015,633.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741,81.0
Western,"Il buono, il brutto, il cattivoOnce Upon a Tim...",1966196819651976,593,33.4,Sergio LeoneSergio LeoneSergio LeoneClint East...,Clint EastwoodHenry FondaClint EastwoodClint E...,1289665,58221508,313.0

In [9]:
# find the top 3 genres by total earnings
movies.groupby('Genre').sum()['Gross'].sort_values(ascending=False).head(3)

Genre
Drama     35409974041
Action    32632261314
Comedy    15663868165
Name: Gross, dtype: int64

In [ ]:
movies.groupby('Genre')['Gross'].sum().sort_values(ascending=False).head(3)
# this one is more efficient, because sum is applying only in one column called Gross

Genre
Drama     35409974041
Action    32632261314
Comedy    15663868165
Name: Gross, dtype: int64

In [15]:
# find the genres which have highest avg IMDB ratings
genres['IMDB_Rating'].mean().sort_values(ascending= False).head(1)

Genre
Western    8.35
Name: IMDB_Rating, dtype: float64

In [16]:
# director with the most popularity
movies.groupby('Director')['No_of_Votes'].sum().sort_values(ascending=False).head()

Director
Christopher Nolan    11578345
Quentin Tarantino     8123208
Steven Spielberg      7817166
David Fincher         6607859
Martin Scorsese       6513530
Name: No_of_Votes, dtype: int64

#### Important question completed using looping in group below

In [18]:
# Find the highest rated movie of each genres
movies.groupby('Genre')['IMDB_Rating'].max().sort_values(ascending=False).head()

Genre
Drama        9.3
Crime        9.2
Action       9.0
Biography    8.9
Western      8.8
Name: IMDB_Rating, dtype: float64

In [22]:
# find no of movies done by each actors
# movies['Star1'].value_counts()
movies.groupby('Star1')['Series_Title'].count().sort_values(ascending=False)

Star1
Tom Hanks               12
Robert De Niro          11
Al Pacino               10
Clint Eastwood          10
Leonardo DiCaprio        9
                        ..
Zbigniew Zamachowski     1
Zooey Deschanel          1
Çetin Tekindor           1
Éric Toledano            1
Ajay Devgn               1
Name: Series_Title, Length: 660, dtype: int64

In [23]:
# GroupBy Attributes and Methods
# find total number of groups -> len
# find items in each group -> size
# first()/last() -> nth item
# get_group -> vs filtering
# groups
# describe
# sample
# nunique

In [ ]:
# no of group  formed by using groupby on Genre
len(movies.groupby('Genre'))

14

In [25]:
movies['Genre'].nunique()

14

In [ ]:
# No of movies of each Genre
movies['Genre'].value_counts()
# movies.groupby('Genre).size()

Genre
Drama        289
Action       172
Comedy       155
Crime        107
Biography     88
Animation     82
Adventure     72
Mystery       12
Horror        11
Western        4
Film-Noir      3
Fantasy        2
Family         2
Thriller       1
Name: count, dtype: int64

In [ ]:
genres = movies.groupby('Genre')

In [ ]:
# First movie of each genres
genres.first()
# genres.nth(6)
# For getting the 7th movie of each genres index from 0

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,300,2006,117,7.6,Zack Snyder,Gerard Butler,732876,210614939,52.0
Adventure,2001: A Space Odyssey,1968,149,8.3,Stanley Kubrick,Keir Dullea,603517,56954992,84.0
Animation,Ôkami kodomo no Ame to Yuki,2012,117,8.1,Mamoru Hosoda,Aoi Miyazaki,38803,224400323,71.0
Biography,12 Years a Slave,2013,134,8.1,Steve McQueen,Chiwetel Ejiofor,640533,56671993,96.0
Comedy,(500) Days of Summer,2009,95,7.7,Marc Webb,Zooey Deschanel,472242,32391374,76.0
Crime,12 Angry Men,1957,96,9.0,Sidney Lumet,Henry Fonda,689845,4360000,96.0
Drama,1917,2019,119,8.3,Sam Mendes,Dean-Charles Chapman,425844,159227644,78.0
Family,E.T. the Extra-Terrestrial,1982,115,7.8,Steven Spielberg,Henry Thomas,372490,435110554,91.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,8.1,Robert Wiene,Werner Krauss,57428,337574718,NaN
Film-Noir,Shadow of a Doubt,1943,108,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292,94.0
Horror,Alien,1979,117,8.4,Ridley Scott,Sigourney Weaver,787806,78900000,89.0
Mystery,Dark City,1998,100,7.6,Alex Proyas,Rufus Sewell,187927,14378331,66.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741,81.0
Western,"Il buono, il brutto, il cattivo",1966,161,8.8,Sergio Leone,Clint Eastwood,688390,6100000,90.0

In [28]:
genres.last()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,Yip Man,2008,106,8.0,Wilson Yip,Donnie Yen,211427,613703997,59.0
Adventure,Zombieland,2009,88,7.6,Ruben Fleischer,Jesse Eisenberg,520041,75590286,73.0
Animation,Zootopia,2016,108,8.0,Byron Howard,Rich Moore,434143,341268248,78.0
Biography,Zerkalo,1975,107,8.1,Andrei Tarkovsky,Margarita Terekhova,40081,177345,72.0
Comedy,Zindagi Na Milegi Dobara,2011,155,8.1,Zoya Akhtar,Hrithik Roshan,67927,3108485,80.0
Crime,Zodiac,2007,157,7.7,David Fincher,Jake Gyllenhaal,466080,33080084,78.0
Drama,Zwartboek,2006,145,7.7,Paul Verhoeven,Carice van Houten,72643,4398392,71.0
Family,Willy Wonka & the Chocolate Factory,1971,100,7.8,Mel Stuart,Gene Wilder,178731,4000000,67.0
Fantasy,Nosferatu,1922,94,7.9,F.W. Murnau,Max Schreck,88794,445151978,NaN
Film-Noir,The Third Man,1949,104,8.1,Carol Reed,Orson Welles,158731,449191,97.0
Horror,The Thing,1982,109,8.1,John Carpenter,Kurt Russell,371271,13782838,57.0
Mystery,Vertigo,1958,128,8.3,Alfred Hitchcock,James Stewart,364368,3200000,100.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741,81.0
Western,The Outlaw Josey Wales,1976,135,7.8,Clint Eastwood,Clint Eastwood,65659,31800000,69.0

In [29]:
genres.get_group('Fantasy')

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
194,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718,NaN
567,Nosferatu,1922,94,Fantasy,7.9,F.W. Murnau,Max Schreck,88794,445151978,NaN

In [ ]:
genres.groups
# creates a dictionary of group and their index

{'Action': [0, 10, 25, 34, 38, 42, 59, 62, 65, 74, 75, 76, 80, 81, 83, 84, 89, 90, 94, 96, 116, 117, 127, 148, 149, 155, 159, 167, 189, 197, 198, 204, 205, 218, 219, 224, 225, 226, 245, 248, 250, 256, 258, 261, 262, 265, 268, 280, 283, 296, 300, 306, 310, 314, 322, 323, 331, 342, 349, 351, 357, 363, 377, 379, 388, 406, 408, 420, 421, 422, 423, 427, 431, 437, 459, 463, 481, 482, 491, 492, 494, 499, 503, 504, 509, 528, 532, 543, 558, 576, 589, 593, 604, 612, 618, 626, 628, 630, 638, 644, ...], 'Adventure': [5, 47, 66, 86, 87, 92, 105, 107, 119, 151, 156, 165, 188, 193, 201, 208, 217, 273, 281, 293, 339, 340, 341, 343, 344, 362, 380, 384, 385, 386, 396, 414, 419, 426, 449, 461, 466, 473, 485, 540, 557, 566, 571, 594, 615, 625, 708, 713, 716, 724, 745, 762, 780, 794, 795, 797, 800, 805, 806, 849, 851, 855, 863, 868, 875, 878, 891, 898, 907, 918, 921, 996], 'Animation': [26, 39, 40, 95, 98, 108, 175, 179, 180, 212, 270, 271, 278, 294, 346, 358, 360, 361, 378, 383, 389, 393, 409, 411, 416, 417, 418, 424, 429, 432, 435, 438, 452, 472, 479, 498, 507, 516, 527, 534, 538, 539, 546, 578, 579, 592, 598, 606, 633, 654, 669, 682, 687, 703, 705, 707, 710, 732, 738, 741, 811, 817, 818, 831, 833, 834, 858, 879, 922, 924, 926, 927, 928, 929, 948, 951, 962, 964, 967, 975, 983, 997], 'Biography': [4, 14, 21, 46, 49, 52, 61, 67, 77, 78, 106, 121, 124, 132, 142, 158, 162, 170, 177, 186, 192, 211, 231, 234, 249, 279, 290, 295, 308, 317, 320, 329, 330, 333, 352, 359, 370, 375, 381, 407, 450, 456, 475, 488, 501, 508, 514, 523, 537, 552, 573, 597, 601, 609, 619, 627, 634, 640, 665, 675, 683, 712, 725, 751, 754, 778, 783, 807, 810, 813, 814, 816, 821, 823, 826, 827, 832, 853, 866, 870, 885, 886, 889, 893, 908, 909, 963, 993], 'Comedy': [2, 9, 12, 16, 19, 22, 28, 31, 32, 33, 37, 48, 50, 54, 63, 69, 70, 88, 91, 93, 102, 103, 112, 118, 134, 139, 143, 150, 163, 164, 168, 172, 173, 183, 184, 200, 203, 207, 221, 222, 228, 229, 233, 237, 238, 242, 244, 257, 260, 274, 282, 305, 315, 321, 324, 336, 337, 338, 345, 348, 355, 356, 373, 390, 394, 397, 400, 415, 425, 430, 441, 446, 453, 457, 462, 467, 468, 484, 489, 496, 497, 513, 515, 517, 519, 524, 530, 535, 542, 545, 548, 550, 556, 562, 565, 574, 577, 585, 596, 605, ...], 'Crime': [3, 6, 15, 17, 27, 58, 60, 110, 111, 120, 125, 129, 131, 152, 154, 169, 176, 178, 181, 187, 202, 206, 210, 216, 232, 236, 239, 240, 241, 243, 263, 272, 292, 307, 311, 335, 347, 374, 382, 401, 439, 445, 448, 458, 474, 477, 478, 483, 487, 493, 500, 502, 505, 510, 525, 533, 555, 563, 564, 569, 572, 581, 583, 586, 591, 621, 622, 624, 632, 643, 645, 652, 658, 662, 666, 691, 695, 709, 726, 737, 739, 740, 743, 752, 773, 776, 790, 791, 792, 793, 801, 803, 820, 857, 883, 901, 902, 912, 919, 925, ...], 'Drama': [1, 7, 8, 11, 13, 18, 20, 23, 24, 29, 30, 35, 36, 43, 44, 45, 51, 53, 55, 56, 57, 64, 68, 71, 72, 73, 79, 82, 85, 97, 99, 100, 101, 104, 109, 113, 114, 115, 122, 123, 126, 128, 130, 133, 135, 136, 137, 138, 140, 141, 144, 145, 146, 147, 153, 157, 160, 161, 166, 171, 174, 182, 185, 190, 195, 196, 199, 209, 213, 214, 215, 220, 223, 227, 230, 235, 247, 251, 252, 253, 255, 259, 264, 266, 267, 269, 275, 276, 277, 284, 285, 286, 287, 288, 289, 291, 297, 298, 301, 302, ...], 'Family': [246, 977], 'Fantasy': [194, 567], 'Film-Noir': [677, 846, 897], 'Horror': [41, 299, 332, 561, 623, 661, 779, 812, 815, 861, 896], 'Mystery': [191, 254, 412, 495, 520, 635, 688, 696, 711, 824, 940, 953], 'Thriller': [961], 'Western': [368, 584, 603, 862]}

In [33]:
# agg method
# passing dict
genres.agg(
    {
        'Runtime':'mean',
        'IMDB_Rating':'mean',
        'No_of_Votes':'sum',
        'Gross':'sum',
        'Metascore':'min'
    }
)

              Runtime  IMDB_Rating  No_of_Votes        Gross  Metascore
Genre
Action     129.046512     7.949419     72282412  32632261314       33.0
Adventure  134.111111     7.937500     22576163   9496922464       41.0
Animation   99.585366     7.930488     21978630  14631473048       61.0
Biography  136.022727     7.938636     24006844   8276357606       48.0
Comedy     112.129032     7.901290     27620327  15663868165       45.0
Crime      126.392523     8.016822     33533615   8452631908       47.0
Drama      124.737024     7.957439     61367304  35409974041       28.0
Family     107.500000     7.800000       551221    439110554       67.0
Fantasy     85.000000     8.000000       146222    782726696        NaN
Film-Noir  104.000000     7.966667       367215    125910543       94.0
Horror     102.090909     7.909091      3742556   1034649238       46.0
Mystery    119.083333     7.975000      4203004   1256417015       52.0
Thriller   108.000000     7.800000        27733     17550741       81.0
Western    148.250000     8.350000      1289665     58221508       69.0

In [ ]:
# passing list
genres.agg(['min','max','sum'])
# wrong output, code is correct dataset problem

                              Series_Title  \
                                       min
Genre
Action                                 300
Adventure            2001: A Space Odyssey
Animation                            Akira
Biography                 12 Years a Slave
Comedy                (500) Days of Summer
Crime                         12 Angry Men
Drama                                 1917
Family          E.T. the Extra-Terrestrial
Fantasy       Das Cabinet des Dr. Caligari
Film-Noir                Shadow of a Doubt
Horror                               Alien
Mystery                          Dark City
Thriller                   Wait Until Dark
Western    Il buono, il brutto, il cattivo

                                                \
                                           max
Genre
Action                                 Yôjinbô
Adventure                           Zombieland
Animation          Ôkami kodomo no Ame to Yuki
Biography                              Zerkalo
Comedy                Zindagi Na Milegi Dobara
Crime                        À bout de souffle
Drama                                Zwartboek
Family     Willy Wonka & the Chocolate Factory
Fantasy                              Nosferatu
Film-Noir                        The Third Man
Horror                               The Thing
Mystery                                Vertigo
Thriller                       Wait Until Dark
Western                 The Outlaw Josey Wales

                                                             Released_Year  \
                                                         sum           min
Genre
Action     3003:10 to YumaA WednesdayAguirre, der Zorn Go...          1924
Adventure  2001: A Space OdysseyAlmost FamousApollo 13Bac...          1925
Animation  Ôkami kodomo no Ame to YukiAkiraAladdinBatman:...          1940
Biography  12 Years a SlaveA Beautiful MindA Man for All ...          1928
Comedy     (500) Days of Summer3 Idiots50/50A Christmas S...          1921
Crime      12 Angry Men21 GramsA Bronx TaleA Clockwork Or...          1931
Drama      191725th Hour28 Days Later...4 luni, 3 saptamâ...          1925
Family     E.T. the Extra-TerrestrialWilly Wonka & the Ch...          1971
Fantasy                Das Cabinet des Dr. CaligariNosferatu          1920
Film-Noir   Shadow of a DoubtThe Maltese FalconThe Third Man          1941
Horror     AlienGet OutHalloweenNight of the Living DeadP...          1933
Mystery    Dark CityEl cuerpoKahaaniLost HighwayMementoRe...          1938
Thriller                                     Wait Until Dark          1967
Western    Il buono, il brutto, il cattivoOnce Upon a Tim...          1965

                                                                   Runtime  \
            max                                                sum     min
Genre
Action     2019  2006200720081972201019861994201020062009201920...      45
Adventure    PG  19682000PG198519891975195920032006201320002006...      88
Animation  2020  2012198819921993199120142017200920012010194020...      71
Biography  2020  2013200119661976198420071966201219902017201320...      93
Comedy     2020  2009200920111983196419352013200520021985198020...      68
Crime      2019  1957200319931971196019592018200420111984200219...      80
Drama      2020  2019200220022007196319921995201819511997195120...      64
Family     1982                                           19821971     100
Fantasy    1922                                           19201922      76
Film-Noir  1949                                       194319411949     100
Horror     2017       19792017197819681960200419731961193320011982      71
Mystery    2012   199820122012199720001954201019721988193819951958      96
Thriller   1967                                               1967     108
Western    1976                                   1966196819651976     132

                      IMDB_Rating  ...  \
           max    sum         min  ...
Genre                              ...
Action     321  22196         7.6  ...
Adventure  228   9656         7.6  ...
Animation  137   8166         7.6  ...
Biography  209  11970         7.6  ...
Comedy     188  17380         7.6  ...
Crime      229  13524         7.6  ...
Drama      242  36049         7.6  ...
Family     115    215         7.8  ...
Fantasy     94    170         7.9  ...
Film-Noir  108    312         7.8  ...
Horror     122   1123         7.6  ...
Mystery    138   1429         7.6  ...
Thriller   108    108         7.8  ...
Western    165    593         7.8  ...

                                                       Star1 No_of_Votes  \
                                                         sum         min
Genre
Action     Gerard ButlerRussell CroweAnupam KherKlaus Kin...       25312
Adventure  Keir DulleaBilly CrudupTom HanksMichael J. Fox...       29999
Animation  Aoi MiyazakiMitsuo IwataJohn MuskerBoyd Kirkla...       25229
Biography  Chiwetel EjioforRussell CrowePaul ScofieldDust...       27254
Comedy     Zooey DeschanelAamir KhanJoseph Gordon-LevittP...       26337
Crime      Henry FondaSean PennRobert De NiroMalcolm McDo...       27712
Drama      Dean-Charles ChapmanEdward NortonCillian Murph...       25088
Family                               Henry ThomasGene Wilder      178731
Fantasy                             Werner KraussMax Schreck       57428
Film-Noir           Teresa WrightHumphrey BogartOrson Welles       59556
Horror     Sigourney WeaverDaniel KaluuyaDonald Pleasence...       27007
Mystery    Rufus SewellJose CoronadoVidya BalanBill Pullm...       33982
Thriller                                      Audrey Hepburn       27733
Western    Clint EastwoodHenry FondaClint EastwoodClint E...       65659

                                  Gross                         Metascore  \
               max       sum        min        max          sum       min
Genre
Action     2303232  72282412       3296  936662225  32632261314      33.0
Adventure  1512360  22576163      61001  874211619   9496922464      41.0
Animation   999790  21978630     128985  873839108  14631473048      61.0
Biography  1213505  24006844      21877  753585104   8276357606      48.0
Comedy      939631  27620327       1305  886752933  15663868165      45.0
Crime      1826188  33533615       6013  790482117   8452631908      47.0
Drama      2343110  61367304       3600  924558264  35409974041      28.0
Family      372490    551221    4000000  435110554    439110554      67.0
Fantasy      88794    146222  337574718  445151978    782726696       NaN
Film-Noir   158731    367215     449191  123353292    125910543      94.0
Horror      787806   3742556      89029  298791505   1034649238      46.0
Mystery    1129894   4203004    1035953  474203697   1256417015      52.0
Thriller     27733     27733   17550741   17550741     17550741      81.0
Western     688390   1289665    5321508   31800000     58221508      69.0


             max      sum
Genre
Action      98.0  10499.0
Adventure  100.0   5020.0
Animation   96.0   6082.0
Biography   97.0   6023.0
Comedy      99.0   9840.0
Crime      100.0   6706.0
Drama      100.0  19208.0
Family      91.0    158.0
Fantasy      NaN      0.0
Film-Noir   97.0    287.0
Horror      97.0    880.0
Mystery    100.0    633.0
Thriller    81.0     81.0
Western     90.0    313.0

[14 rows x 27 columns]

In [37]:
# Adding both the syntax
genres.agg(
    {
        'Runtime':['min','mean'],
        'IMDB_Rating':'mean',
        'No_of_Votes':['sum','max'],
        'Gross':'sum',
        'Metascore':'min'
    }
)

          Runtime             IMDB_Rating No_of_Votes                 Gross  \
              min        mean        mean         sum      max          sum
Genre
Action         45  129.046512    7.949419    72282412  2303232  32632261314
Adventure      88  134.111111    7.937500    22576163  1512360   9496922464
Animation      71   99.585366    7.930488    21978630   999790  14631473048
Biography      93  136.022727    7.938636    24006844  1213505   8276357606
Comedy         68  112.129032    7.901290    27620327   939631  15663868165
Crime          80  126.392523    8.016822    33533615  1826188   8452631908
Drama          64  124.737024    7.957439    61367304  2343110  35409974041
Family        100  107.500000    7.800000      551221   372490    439110554
Fantasy        76   85.000000    8.000000      146222    88794    782726696
Film-Noir     100  104.000000    7.966667      367215   158731    125910543
Horror         71  102.090909    7.909091     3742556   787806   1034649238
Mystery        96  119.083333    7.975000     4203004  1129894   1256417015
Thriller      108  108.000000    7.800000       27733    27733     17550741
Western       132  148.250000    8.350000     1289665   688390     58221508

          Metascore
                min
Genre
Action         33.0
Adventure      41.0
Animation      61.0
Biography      48.0
Comedy         45.0
Crime          47.0
Drama          28.0
Family         67.0
Fantasy         NaN
Film-Noir      94.0
Horror         46.0
Mystery        52.0
Thriller       81.0
Western        69.0

In [41]:
# looping on groups

df_list = []
for group, data in genres:
    df_list.append(data[data['IMDB_Rating'] == data['IMDB_Rating'].max()])

df = pd.concat(df_list, ignore_index=True)
df

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444,84.0
1,Interstellar,2014,169,Adventure,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017,74.0
2,Sen to Chihiro no kamikakushi,2001,125,Animation,8.6,Hayao Miyazaki,Daveigh Chase,651376,10055859,96.0
3,Schindler's List,1993,195,Biography,8.9,Steven Spielberg,Liam Neeson,1213505,96898818,94.0
4,Gisaengchung,2019,132,Comedy,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844,96.0
5,La vita è bella,1997,116,Comedy,8.6,Roberto Benigni,Roberto Benigni,623629,57598247,59.0
6,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411,100.0
7,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469,80.0
8,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554,91.0
9,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000,67.0
10,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718,NaN
11,The Third Man,1949,104,Film-Noir,8.1,Carol Reed,Orson Welles,158731,449191,97.0
12,Psycho,1960,109,Horror,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000,97.0
13,Memento,2000,113,Mystery,8.4,Christopher Nolan,Guy Pearce,1125712,25544867,80.0
14,Rear Window,1954,112,Mystery,8.4,Alfred Hitchcock,James Stewart,444074,36764313,100.0
15,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741,81.0
16,"Il buono, il brutto, il cattivo",1966,161,Western,8.8,Sergio Leone,Clint Eastwood,688390,6100000,90.0

In [42]:
# split (apply) combine
# apply -> builtin function
genres.apply(min)

C:\Users\rahul\AppData\Local\Temp\ipykernel_2008\712755651.py:3: FutureWarning: The provided callable <built-in function min> is currently using np.minimum.reduce. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string np.minimum.reduce instead.
  genres.apply(min)
C:\Users\rahul\AppData\Local\Temp\ipykernel_2008\712755651.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genres.apply(min)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,,
Action,300,1924,45,Action,7.6,Abhishek Chaubey,Aamir Khan,25312,3296,NaN
Adventure,2001: A Space Odyssey,1925,88,Adventure,7.6,Akira Kurosawa,Aamir Khan,29999,61001,NaN
Animation,Akira,1940,71,Animation,7.6,Adam Elliot,Adrian Molina,25229,128985,NaN
Biography,12 Years a Slave,1928,93,Biography,7.6,Adam McKay,Adrien Brody,27254,21877,NaN
Comedy,(500) Days of Summer,1921,68,Comedy,7.6,Alejandro G. Iñárritu,Aamir Khan,26337,1305,NaN
Crime,12 Angry Men,1931,80,Crime,7.6,Akira Kurosawa,Ajay Devgn,27712,6013,NaN
Drama,1917,1925,64,Drama,7.6,Aamir Khan,Abhay Deol,25088,3600,NaN
Family,E.T. the Extra-Terrestrial,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000,67.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,Fantasy,7.9,F.W. Murnau,Max Schreck,57428,337574718,NaN
Film-Noir,Shadow of a Doubt,1941,100,Film-Noir,7.8,Alfred Hitchcock,Humphrey Bogart,59556,449191,94.0
Horror,Alien,1933,71,Horror,7.6,Alejandro Amenábar,Anthony Perkins,27007,89029,46.0
Mystery,Dark City,1938,96,Mystery,7.6,Alex Proyas,Bernard-Pierre Donnadieu,33982,1035953,NaN
Thriller,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741,81.0
Western,"Il buono, il brutto, il cattivo",1965,132,Western,7.8,Clint Eastwood,Clint Eastwood,65659,5321508,69.0

In [45]:
# find number of movies starting with A for each group

def foo(group):
  return group['Series_Title'].str.startswith('A').sum()

In [46]:
genres.apply(foo)

C:\Users\rahul\AppData\Local\Temp\ipykernel_2008\2904676014.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genres.apply(foo)

Genre
Action       10
Adventure     2
Animation     2
Biography     9
Comedy       14
Crime         4
Drama        21
Family        0
Fantasy       0
Film-Noir     0
Horror        1
Mystery       0
Thriller      0
Western       0
dtype: int64

In [47]:
# find ranking of each movie in the group according to IMDB score

def rank_movie(group):
  group['genre_rank'] = group['IMDB_Rating'].rank(ascending=False)
  return group

In [48]:
genres.apply(rank_movie)

C:\Users\rahul\AppData\Local\Temp\ipykernel_2008\2409710219.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genres.apply(rank_movie)

                                 Series_Title Released_Year  Runtime  \
Genre
Action   0                                300          2006      117
         10                      3:10 to Yuma          2007      122
         25                       A Wednesday          2008      104
         34          Aguirre, der Zorn Gottes          1972       95
         38                           Ajeossi          2010      119
...                                       ...           ...      ...
Thriller 961                  Wait Until Dark          1967      108
Western  368  Il buono, il brutto, il cattivo          1966      161
         584     Once Upon a Time in the West          1968      165
         603       Per qualche dollaro in più          1965      132
         862           The Outlaw Josey Wales          1976      135

                 Genre  IMDB_Rating        Director           Star1  \
Genre
Action   0      Action          7.6     Zack Snyder   Gerard Butler
         10     Action          7.7   James Mangold   Russell Crowe
         25     Action          8.1   Neeraj Pandey     Anupam Kher
         34     Action          7.9   Werner Herzog    Klaus Kinski
         38     Action          7.8  Jeong-beom Lee         Won Bin
...                ...          ...             ...             ...
Thriller 961  Thriller          7.8   Terence Young  Audrey Hepburn
Western  368   Western          8.8    Sergio Leone  Clint Eastwood
         584   Western          8.5    Sergio Leone     Henry Fonda
         603   Western          8.3    Sergio Leone  Clint Eastwood
         862   Western          7.8  Clint Eastwood  Clint Eastwood

              No_of_Votes      Gross  Metascore  genre_rank
Genre
Action   0         732876  210614939       52.0       160.0
         10        288797   53606916       76.0       134.5
         25         73891  573329738        NaN        46.0
         34         52397  508046921        NaN        82.0
         38         62848       6460        NaN       105.5
...                   ...        ...        ...         ...
Thriller 961        27733   17550741       81.0         1.0
Western  368       688390    6100000       90.0         1.0
         584       302844    5321508       80.0         2.0
         603       232772   15000000       74.0         3.0
         862        65659   31800000       69.0         4.0

[1000 rows x 11 columns]

In [49]:
# find normalized IMDB rating group wise

def normal(group):
  group['norm_rating'] = (group['IMDB_Rating'] - group['IMDB_Rating'].min())/(group['IMDB_Rating'].max() - group['IMDB_Rating'].min())
  return group

genres.apply(normal)

C:\Users\rahul\AppData\Local\Temp\ipykernel_2008\2908049479.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genres.apply(normal)

                                 Series_Title Released_Year  Runtime  \
Genre
Action   0                                300          2006      117
         10                      3:10 to Yuma          2007      122
         25                       A Wednesday          2008      104
         34          Aguirre, der Zorn Gottes          1972       95
         38                           Ajeossi          2010      119
...                                       ...           ...      ...
Thriller 961                  Wait Until Dark          1967      108
Western  368  Il buono, il brutto, il cattivo          1966      161
         584     Once Upon a Time in the West          1968      165
         603       Per qualche dollaro in più          1965      132
         862           The Outlaw Josey Wales          1976      135

                 Genre  IMDB_Rating        Director           Star1  \
Genre
Action   0      Action          7.6     Zack Snyder   Gerard Butler
         10     Action          7.7   James Mangold   Russell Crowe
         25     Action          8.1   Neeraj Pandey     Anupam Kher
         34     Action          7.9   Werner Herzog    Klaus Kinski
         38     Action          7.8  Jeong-beom Lee         Won Bin
...                ...          ...             ...             ...
Thriller 961  Thriller          7.8   Terence Young  Audrey Hepburn
Western  368   Western          8.8    Sergio Leone  Clint Eastwood
         584   Western          8.5    Sergio Leone     Henry Fonda
         603   Western          8.3    Sergio Leone  Clint Eastwood
         862   Western          7.8  Clint Eastwood  Clint Eastwood

              No_of_Votes      Gross  Metascore  norm_rating
Genre
Action   0         732876  210614939       52.0     0.000000
         10        288797   53606916       76.0     0.071429
         25         73891  573329738        NaN     0.357143
         34         52397  508046921        NaN     0.214286
         38         62848       6460        NaN     0.142857
...                   ...        ...        ...          ...
Thriller 961        27733   17550741       81.0          NaN
Western  368       688390    6100000       90.0     1.000000
         584       302844    5321508       80.0     0.700000
         603       232772   15000000       74.0     0.500000
         862        65659   31800000       69.0     0.000000

[1000 rows x 11 columns]

In [52]:
# groupby on multiple cols
duo = movies.groupby(['Director','Star1'])
duo
# size
duo.size()

Director             Star1
Aamir Khan           Amole Gupte       1
Aaron Sorkin         Eddie Redmayne    1
Abdellatif Kechiche  Léa Seydoux       1
Abhishek Chaubey     Shahid Kapoor     1
Abhishek Kapoor      Amit Sadh         1
                                      ..
Zaza Urushadze       Lembit Ulfsak     1
Zoya Akhtar          Hrithik Roshan    1
                     Vijay Varma       1
Çagan Irmak          Çetin Tekindor    1
Ömer Faruk Sorak     Cem Yilmaz        1
Length: 898, dtype: int64

In [53]:
# get_group
duo.get_group(('Aamir Khan','Amole Gupte'))

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
734,Taare Zameen Par,2007,165,Drama,8.4,Aamir Khan,Amole Gupte,168895,1223869,NaN

In [54]:
# find the most earning actor -> director combo
duo['Gross'].sum().sort_values(ascending=False).head(1)

Director        Star1
Akira Kurosawa  Toshirô Mifune    2999876948
Name: Gross, dtype: int64

In [55]:
# find the best(in-terms of metascore(avg)) actor -> genre combo
movies.groupby(['Star1','Genre'])['Metascore'].mean().reset_index().sort_values('Metascore',ascending=False).head(1)

          Star1  Genre  Metascore
77  Bertil Guve  Drama      100.0

In [57]:
# agg on multiple groupby
duo.agg(['min','max'])

                                                  Series_Title  \
                                                           min
Director            Star1
Aamir Khan          Amole Gupte               Taare Zameen Par
Aaron Sorkin        Eddie Redmayne  The Trial of the Chicago 7
Abdellatif Kechiche Léa Seydoux                 La vie d'Adèle
Abhishek Chaubey    Shahid Kapoor                  Udta Punjab
Abhishek Kapoor     Amit Sadh                      Kai po che!
...                                                        ...
Zaza Urushadze      Lembit Ulfsak                  Mandariinid
Zoya Akhtar         Hrithik Roshan    Zindagi Na Milegi Dobara
                    Vijay Varma                      Gully Boy
Çagan Irmak         Çetin Tekindor              Babam ve Oglum
Ömer Faruk Sorak    Cem Yilmaz                        G.O.R.A.

                                                               Released_Year  \
                                                           max           min
Director            Star1
Aamir Khan          Amole Gupte               Taare Zameen Par          2007
Aaron Sorkin        Eddie Redmayne  The Trial of the Chicago 7          2020
Abdellatif Kechiche Léa Seydoux                 La vie d'Adèle          2013
Abhishek Chaubey    Shahid Kapoor                  Udta Punjab          2016
Abhishek Kapoor     Amit Sadh                      Kai po che!          2013
...                                                        ...           ...
Zaza Urushadze      Lembit Ulfsak                  Mandariinid          2013
Zoya Akhtar         Hrithik Roshan    Zindagi Na Milegi Dobara          2011
                    Vijay Varma                      Gully Boy          2019
Çagan Irmak         Çetin Tekindor              Babam ve Oglum          2005
Ömer Faruk Sorak    Cem Yilmaz                        G.O.R.A.          2004

                                         Runtime           Genre             \
                                     max     min  max        min        max
Director            Star1
Aamir Khan          Amole Gupte     2007     165  165      Drama      Drama
Aaron Sorkin        Eddie Redmayne  2020     129  129      Drama      Drama
Abdellatif Kechiche Léa Seydoux     2013     180  180      Drama      Drama
Abhishek Chaubey    Shahid Kapoor   2016     148  148     Action     Action
Abhishek Kapoor     Amit Sadh       2013     130  130      Drama      Drama
...                                  ...     ...  ...        ...        ...
Zaza Urushadze      Lembit Ulfsak   2013      87   87      Drama      Drama
Zoya Akhtar         Hrithik Roshan  2011     155  155     Comedy     Comedy
                    Vijay Varma     2019     154  154      Drama      Drama
Çagan Irmak         Çetin Tekindor  2005     112  112      Drama      Drama
Ömer Faruk Sorak    Cem Yilmaz      2004     127  127  Adventure  Adventure

                                   IMDB_Rating      No_of_Votes          \
                                           min  max         min     max
Director            Star1
Aamir Khan          Amole Gupte            8.4  8.4      168895  168895
Aaron Sorkin        Eddie Redmayne         7.8  7.8       89896   89896
Abdellatif Kechiche Léa Seydoux            7.7  7.7      138741  138741
Abhishek Chaubey    Shahid Kapoor          7.8  7.8       27175   27175
Abhishek Kapoor     Amit Sadh              7.7  7.7       32628   32628
...                                        ...  ...         ...     ...
Zaza Urushadze      Lembit Ulfsak          8.2  8.2       40382   40382
Zoya Akhtar         Hrithik Roshan         8.1  8.1       67927   67927
                    Vijay Varma            8.0  8.0       31886   31886
Çagan Irmak         Çetin Tekindor         8.3  8.3       78925   78925
Ömer Faruk Sorak    Cem Yilmaz             8.0  8.0       56960   56960

                                        Gross            Metascore
                                          min        max       min   max
Director            Star1
Aamir Khan          Amole Gupte       1223869    1223869       NaN   NaN
Aaron Sorkin        Eddie Redmayne  853090410  853090410      77.0  77.0
Abdellatif Kechiche Léa Seydoux       2199675    2199675      89.0  89.0
Abhishek Chaubey    Shahid Kapoor   218428303  218428303       NaN   NaN
Abhishek Kapoor     Amit Sadh         1122527    1122527      40.0  40.0
...                                       ...        ...       ...   ...
Zaza Urushadze      Lembit Ulfsak      144501     144501      73.0  73.0
Zoya Akhtar         Hrithik Roshan    3108485    3108485       NaN   NaN
                    Vijay Varma       5566534    5566534      65.0  65.0
Çagan Irmak         Çetin Tekindor  461855363  461855363       NaN   NaN
Ömer Faruk Sorak    Cem Yilmaz      196206077  196206077       NaN   NaN

[898 rows x 16 columns]

## Exercise

In [59]:
ipl = pd.read_csv('deliveries.csv')
ipl.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [60]:
# find the top 10 batsman in terms of runs
ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(10)

batsman
V Kohli           5434
SK Raina          5415
RG Sharma         4914
DA Warner         4741
S Dhawan          4632
CH Gayle          4560
MS Dhoni          4477
RV Uthappa        4446
AB de Villiers    4428
G Gambhir         4223
Name: batsman_runs, dtype: int64

In [61]:
# find the batsman with max no of sixes
six = ipl[ipl['batsman_runs'] == 6]

six.groupby('batsman')['batsman'].count().sort_values(ascending=False).head(1).index[0]

'CH Gayle'

In [62]:
# find batsman with most number of 4's and 6's in last 5 overs
temp_df = ipl[ipl['over'] > 15]
temp_df = temp_df[(temp_df['batsman_runs'] == 4) | (temp_df['batsman_runs'] == 6)]
temp_df.groupby('batsman')['batsman'].count().sort_values(ascending=False).head(1).index[0]

'MS Dhoni'

In [63]:
# find V Kohli's record against all teams
temp_df = ipl[ipl['batsman'] == 'V Kohli']

temp_df.groupby('bowling_team')['batsman_runs'].sum().reset_index()

               bowling_team  batsman_runs
0       Chennai Super Kings           749
1           Deccan Chargers           306
2            Delhi Capitals            66
3          Delhi Daredevils           763
4             Gujarat Lions           283
5           Kings XI Punjab           636
6      Kochi Tuskers Kerala            50
7     Kolkata Knight Riders           675
8            Mumbai Indians           628
9             Pune Warriors           128
10         Rajasthan Royals           370
11   Rising Pune Supergiant            83
12  Rising Pune Supergiants           188
13      Sunrisers Hyderabad           509

In [68]:
# Create a function that can return the highest score of any batsman
temp_df = ipl[ipl['batsman'] == 'V Kohli']
temp_df.groupby('match_id')['batsman_runs'].sum().sort_values(ascending=False).head(1).values[0]

np.int64(113)

In [65]:
def highest(batsman):
  temp_df = ipl[ipl['batsman'] == batsman]
  return temp_df.groupby('match_id')['batsman_runs'].sum().sort_values(ascending=False).head(1).values[0]

In [66]:
highest('DA Warner')

np.int64(126)